body {
  font-family: sans-serif;
  background-color: #fefefe;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #673ab7;
  color: white;
  text-align: center;
  padding: 40px;
}

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

h2 {
  color: #673ab7;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 10px;
}
